@import url('https://fonts.googleapis.com/css?family=Gugi|Open+Sans');

:root {
  /* FONTS */
  --headers: 'Gugi', cursive;
  --body: 'Open Sans, Arial', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: var(--headers)
}

body {
  font-family: var(--body);
  font-size: 1.2em;
  line-height: 1.5em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 1%;
  color: white;
}

.line {
  font-size: 2em;
}

.preview {
  background-image: url('./images/wav.png');
  background-position-y: -6em;
  color: #eee;
  text-shadow: 2px 2px 4px #222;
}

.recording {
  background: #aa3434;
  animation: all 1s;
}

.after {
  background: #aaa;
  animation: all 1s;
}

.alert {
  color: #aa3434;
  font-size: 0.75em;
}

.button{
  width: 30vw; 
  margin: auto;
}

.prompt {
  font-style: italic;
  font-weight: bold;
}

.preview {
  font-size: 0.75em;
}

.part {
  background-color: #eee;
}

.part div{
  background-color: #fff;
}

.controls {
 background: #fff;
}

.menu a, .controls a, .button, .submit {
  padding: 1vw 2vw;
  margin: 0.5vw 0.5vw;
  border: #aaa 1px solid;
  border-radius: 0.4em;
  cursor: pointer;
  color: #aaa;
}

.menu a:hover, .controls a:hover, .button:hover, .submit:hover {
  background: #333;
  color: #ddd;
}
.main_content {
  width: 75vw;
  margin: auto;
}

.main_content div {
  margin: 0.5vw;
  padding: 1vw 0.5vw;
  border: #aaa2 1px solid;
}

label {
  display: block;
}

.note {
  font-size: 12pt;
  font-weight: 800;
}

.top-level {
background: #ccc;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.review {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.review h3 {
  margin-left: 1.2em;
}

.left{
  background: #ddd;
  text-align: left;
  flex: 3
}

.right {
  background: #ddd;
  text-align: left;
  flex: 2
}

.audition-box {
  display: flex;
  flex-direction: row;
}

.tabs {
  display: flex;
  flex-direction: column;
  flex: 1
}
.toolbox .tabs {
  display: flex;
  flex-direction: row;
  flex: 1
}

.tabs div {
  margin: 0.1em;
  border: 1px solid #333;
  flex: 1;
  border-radius: 0.2em;
}

.tabs div:hover {
  color: #eee;
  background: #222;
}

.innards {
  flex: 8
}

.toolbox {
  display: flex;
  flex-direction: column
}